<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- calls when a order is payed or when a admin creates a order -->
    <event name="sales_order_place_after">
        <observer name="OrderSuccessFull" instance="BurdDelivery\BurdDeliveryShippingMethod\Model\Observer" />
    </event>
</config>